version: '3.8'

services:
  db:
    image: mysql:8.0
    
    container_name: mysql_db
    
    restart: unless-stopped
    
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    
    ports:
      - "${MYSQL_PORT}:3306"
    
    volumes:
      - ./mysql_data:/var/lib/mysql
    
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5